<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intent1mukhlashin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetailActivity.ScrollingDetailActivity2"
            android:label="@string/title_activity_scrolling_detail2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DetailActivity.ScrollingDetailActivity1"
            android:label="@string/title_activity_scrolling_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FragContainer.ContainerFragment3" />
        <activity android:name=".FragContainer.ContainerFragment2" />
        <activity android:name=".FragContainer.ContainerFragment1" />
        <activity android:name=".Adapter.RecyclerAdapter3" />
        <activity android:name=".Adapter.RecyclerAdapter2" />
        <activity android:name=".Adapter.RecyclerAdapter1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>